<div class="row">
<div class="col-md-2">
  <img src="/slika23.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika28.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika30.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika22.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika31.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika24.jpg" style="width:120% ; height: 80%">
</div>
</div>



<h1 style="font-family:Vivaldi; font-size:400%;"> Lokacija... </h1> 

<p> Wedding day agencija za organizaciju vjenčanja je locirana u Sarajevu. Objekat se nalazi u ulici Trg djece Sarajeva 1, tačnije u centru BBI.  Unutar objekta od 100m2 nalaze se dvije visokokvalitetne i opremljene kancelarije, dok je skladište, takođe locirano u Sarajevu, nedaleko od glavnog objekta u ulici Dubrovačka. Lokacija je sa tržišnog aspekta veoma povoljna s obzirom na koncentraciju stanovništva. </p>

<div class="content">
<center>
  <img src="/lokacija1.jpg" alt="Bear" style="width:70%">
  </center>
  </div>

  <div class="content">
  <center>
  <img src="/lokacija2.jpg" alt="Bear" style="width:70%">
  </center> 
  </div>



<br> </br>






  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
   

    /* Style the container/contact section */
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }
    
    /* Create two columns that float next to eachother */
    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
}
</style>
</head>
<body>



<div class="container">
  <div style="text-align:center">
    <h2>Kontaktirajte nas</h2>
   
  </div>
  <div class="row">
    <div class="column">
      <div id="map" style="width:100%;height:500px"></div>
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Ime</label>
        <input type="text" id="fname" name="firstname" placeholder="Vaše ime..">
        <label for="lname">Prezime</label>
        <input type="text" id="lname" name="lastname" placeholder="Vaše prezime..">
        <label for="country">Grad</label>
        <input type="text" id="lname" name="lastname" placeholder="Grad..">
        <label for="subject">Poruka</label>
        <textarea id="subject" name="subject" placeholder="Napiši poruku.." style="height:170px"></textarea>
        <input type="submit" value="Pošalji">
      </form>
    </div>
  </div>
</div>





</body>
</html>