<div class="row">
<div class="col-md-2">
  <img src="/slika23.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika28.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika30.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika22.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika31.jpg" style="width:120% ; height: 80%">
</div>
<div class="col-md-2">
  <img src="/slika24.jpg" style="width:120% ; height: 80%">
</div>
</div>

<br> </br>


<h1 style="font-family:Vivaldi; font-size:400%;"> Lokacija... </h1> 

<br> </br>


<p> Wedding day agencija za organizaciju vjenčanja je locirana u Sarajevu. </p>
<p> Objekat se nalazi u ulici Trg djece Sarajeva 1, tačnije u centru BBI.  </p>
<p> Unutar objekta od 100m2 nalaze se dvije visokokvalitetne i opremljene kancelarije, dok je skladište, takođe locirano u Sarajevu, nedaleko od glavnog objekta u ulici Dubrovačka.  </p>





<br> </br>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>
</head>
<body>



<div class= "row">

<div class="col-md-6">
  <img id="myImg" src="/lokacija1.jpg" alt="Lokacija" width="550" height="300">
 
  </div>
 


<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>

</body>
</html>










<br> </br>
<br> </br>
<br> </br>
<br> </br>





<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    
}

.container {
    border-radius: 5px;
   
    
    padding: 20px;
}
</style>
</head>
<body>

<br> </br>
<br> </br>
<br> </br>
<br> </br>

<div class="container">

  <div style="text-align:center">
    <h2 style="font-family:Vivaldi; font-size:300%;"> Pišite nam... </h2>
    
  </div>
  
     
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Ime</label>
        <input type="text" id="fname" name="firstname" placeholder="Vaše ime..">
        <label for="lname">Prezime</label>
        <input type="text" id="lname" name="lastname" placeholder="Vaše prezime..">
        <label for="country">E-mail</label>
        <input type="text" id="lname" name="lastname" placeholder="Vaš e-mail..">
        <label for="subject">Poruka</label>
        <textarea id="subject" name="subject" placeholder="Napiši poruku.." style="height:170px"></textarea>
        <input type="submit" value="Pošalji">
      </form>
    </div>
  </div>
</div>