<div class="container">
<h1> Bootstrap Demo </h1>
<div class="jumbotron">
<h1> Neki naslov </h1> 
</div>

<div class="row">

    <div class="col-md-12">
        <p> ovdje je 12 i sve zauzima </p>
    </div>
</div>

     <div class="row">
          <p> ovdje je samo 6 </p>
     </div>

 <div class="col-md-6">
  <p> ovdje je drugo 6 </p>
  </div>

</div>

<div> class="row">
      <div class

</div>
