


 <h1 style="font-family:Vivaldi; font-size:400%;""> Katalog </h1> 




<div class="row">

   <div class="col-md-6">

     <img src="/slika1.jpg" style="width:80%" >
  </div>

  <div class="col-md-6">
  <p> Nema boljeg trenutka za sreću od ovog. Hvala vam što ste ga podelili sa nama.</p> 
  </div>
</div>

<div class= "row">

  <div class="col-md-6">
   <p> tekstttttttttt lala a aala alalalalal aalaa lal aala l ala ala ala al al al</p>
  </div>

  <div class="col-md-6">

    <img src="/slika4.jpg" style="width:80%" >
  </div>  

  
</div>