
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 py-5">

                <div class="mb-5 flex-center">
<center>
                    <img class="footer_icons" src="/fbicon.png" />
                    <img class="footer_icons" src="/instaicon.png" />
                    <img class="footer_icons" src="/twittericon.jpg" />
                    <img class="footer_icons" src="/youtubeicon.jpg" />
</center>

                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: Amina & Fatima
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->

<style>
.footer_icons{
    width: 50px;
    height: 50px;
    margin: 30px;   
}

</style>